{% extends 'base.html.twig' %}

{% block title %}Nouvelle Page!{% endblock %}

{% block body %}
<h1>Ma nouvelle page</h1>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock body %}